
.itempage {
  list-style: none;
  padding: 0;
  margin: 0;
}



a{
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
}

.item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  border-bottom: 1px solid var(--tan);

    border-left: 1px solid var(--tan);
    border-radius: 5px;
      box-shadow: inset 20px 20px 20px var(--shadow);
  gap: 10px;
  width: 700px;
  height: 100px;
  padding: 10px;
  margin-bottom:10px
}

.item-first-side {
  grid-column: 1/2;
  grid-row: 1/4;
  align-self:center;
}

.item-second-side {
  grid-column: 2/3;
  grid-row: 1/4;
  align-self:center;
}
.item-third-side {
  grid-column: 3/4;
  grid-row: 1/4;
  justify-self: end;
  align-self:center;
}
.item-third-side p {
  justify-self:center;
}
.box {
  height: 70px;
  width: 70px;
  background-color: var(--tan);
  border-radius: 5px;
}


.button {
      text-transform: uppercase;
    background-color: var(--cyan);
    border: 1px solid var(--magenta);
    padding: 1rem;
    color: var(--magenta);
    border-radius: 5px;
    white-space: nowrap;
    width: 50px;
    margin: 0 0 9px 0;
    font-size: 0.6rem;
}

.button:hover {
    cursor: pointer;
    background-color: var(--lime);
     transition:0.3s ease;
    color:var(--tan);
}