

.Nav-list-item {
  list-style: none;
}

.Nav-list {
  display: flex;
  flex-direction: row;
  gap:50px;
  align-items: center;
  gap: 2rem;
  margin: 0 ;
  padding: 0;
}
.Nav-list-item.selected {
   border-bottom:	3px solid #FFAA3F;

}

.Nav-list li a:hover{
  color: var(--magenta);
  cursor: pointer;
}

.Nav {
  display: grid;
  grid-template-columns: 1fr 30px 150px;
  margin-bottom: 10px;

}


.cart-container {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: red;
  color: #ffffff;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 15px;
  align-self: center;
}


.Nav-item-info {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  gap: 10px;
}



.Nav-list-item.selected {
  border-bottom: 3px solid #FFAA3F;
}

.Nav-list-item.selected a {
  color: #FFAA3F;
  font-weight: bold;
}

.fa-solid {
    font-size: var(--h5)
}

.CartItem-controls {
      margin: 0 0 10px 8px;
}

.CartItem-count {
      font-size: 20px;
    margin: 0 5px;
}

